In [1]:
#Exercício Médio: Remova a chave-valor "cidade" do dicionário
#{"nome":"Ana","idade":"25","cidade":"São Paulo"}
dicionario <- list(nome="Ana", idade=25, cidade="São Paulo")
dicionario$cidade <- NULL
print(dicionario)

$nome
[1] "Ana"

$idade
[1] 25

In [10]:
#crie um dicionario aninhado para armazenar informações de varias pessoa, onde cada pessoa rem um nome, idade e cidade

dicionario <- list(c(nome= "ana", idade= 25, cidade="são paulo"), c(nome= "joão", idade= 19, cidade="jundiai"), c(nome= "bryan", idade= 30, cidade="Itupeva"))
print(dicionario)

[[1]]
       nome       idade      cidade
      "ana"        "25" "são paulo"

[[2]]
     nome     idade    cidade
   "joão"      "19" "jundiai"

[[3]]
     nome     idade    cidade
  "bryan"      "30" "Itupeva"

In [15]:
#crie um dicionario aninhado para armazenar informações de varias pessoa, onde cada pessoa rem um nome, idade e cidade


dicionario <- list(
  "pessoa1"<-list(nome="Ana", idade=25, cidade="Sao Paulo"),
  "pessoa2"<-list(nome="João", idade=25, cidade="Sao Paulo"),
  "pessoa3"<-list(nome="Bea", idade=25, cidade="Sao Paulo"),
  "pessoa4"<-list(nome="Fe", idade=25, cidade="Sao Paulo")
)

print(dicionario)

[[1]]
[[1]]$nome
[1] "Ana"

[[1]]$idade
[1] 25

[[1]]$cidade
[1] "Sao Paulo"


[[2]]
[[2]]$nome
[1] "João"

[[2]]$idade
[1] 25

[[2]]$cidade
[1] "Sao Paulo"


[[3]]
[[3]]$nome
[1] "Bea"

[[3]]$idade
[1] 25

[[3]]$cidade
[1] "Sao Paulo"


[[4]]
[[4]]$nome
[1] "Fe"

[[4]]$idade
[1] 25

[[4]]$cidade
[1] "Sao Paulo"

In [16]:
#percorra um diconario aninhado e imprima as informações de cada pessoa no formato {"nome": "ana","idade": 25, "cidade":"são paulo"}

dicionario <- list(
  "pessoa1"<-list(nome="Ana", idade=25, cidade="Sao Paulo"),
  "pessoa2"<-list(nome="João", idade=25, cidade="Sao Paulo"),
  "pessoa3"<-list(nome="Bea", idade=25, cidade="Sao Paulo"),
  "pessoa4"<-list(nome="Fe", idade=25, cidade="Sao Paulo")
)

for (pessoa in dicionario){
  print(paste("nome:", pessoa$nome, "idade:", pessoa$idade, "cidade:", pessoa$cidade))
}

[1] "nome: Ana idade: 25 cidade: Sao Paulo"
[1] "nome: João idade: 25 cidade: Sao Paulo"
[1] "nome: Bea idade: 25 cidade: Sao Paulo"
[1] "nome: Fe idade: 25 cidade: Sao Paulo"

In [17]:
#operadores em R

#aritimetica
#some dois numeros 10 e 20

soma <- 10 +20
print(soma)

[1] 30

In [18]:
#subtraia 15 de 10

sub <- 15-30
print(soma)

[1] 30

In [19]:
#multiplique 6 po 7

mult <- 6 * 7
print(mult)

[1] 42

In [20]:
#divida 81 por 9

div <- 81/9
print(div)

[1] 9

In [21]:
#calcule o exponencial de 2 elevado a 10

exp <- 2^10
print(exp)

[1] 1024

In [23]:
#calcule o resto da divisão de 29 por 5

resto <- 29%%5
print(resto)

[1] 4

In [24]:
# verifique se o nuemro 8 é maior que 5 e imprima o resultado

resultado <- 8 > 5
print(resultado)

[1] TRUE

In [25]:
#verifique se o nuemro 3 é menor ou igual a 10 e imprima o resultado

resultado = 3 <= 10
print(resultado)

[1] TRUE

In [27]:
#verifique se 7 é meior que 5 e menor que 10

resultado <- (7 > 5) & (7 < 10)
print(resultado)

[1] TRUE

In [33]:
#verifique se o nuemro 12 é par e se esta entre 10 e 15
n = 12
resultado <- (n %% 2 == 0) & ((10 < n) & (n < 15))
print(resultado)

[1] TRUE

In [37]:
#verifique se um nuemro é multiplo de 3 ou 5 e se está entre 20 e 30. imprama o resultado

n <- 11
resultado = ((n %% 3 == 0 | n %% 5 == 0) & (n > 20 & n < 30))
print(resultado)

[1] FALSE

In [40]:
#crie uma função que verifique se uma pessoa é elegivel para um premio com base nas seguintes condições: devera ter mais que 18 anos e deve ser memvro ativo ou deve ter mais de 60 anos

verificar_elegibilidade <- function(idade, ativo){
  return ((idade >= 18 & ativo) | (idade > 60))
}

print(verificar_elegibilidade(18, TRUE))
print(verificar_elegibilidade(65, FALSE))
print(verificar_elegibilidade(30, FALSE))

[1] TRUE
[1] TRUE
[1] FALSE