In [ ]:
#Fatores em R
#Crie um vetor de categorias com cores vermelho, azul e verde
cores <- factor(c('vermelho', 'azul', 'verde'))
print(cores)

#Crie um vetor de fatores para os dias da semana e imprima-os
dias <- factor(c('segunda', 'terca', 'quarta', 'quinta', 'sexta'))
print(dias)

In [5]:
#Crie um vetor de fatores com as categorias baixo, medio e alto e ordene-os.
niveis <- factor(c('baixo', 'alto', 'medio'), levels = c('baixo', 'medio', 'alto'), ordered = TRUE)
print(niveis)

[1] baixo alto  medio
Levels: baixo < medio < alto

In [4]:
#converta um vetor de fatores em vetores numericos
categorias <- factor(c('baixo', 'alto', 'medio'), levels = c('baixo', 'medio', 'alto'), ordered = TRUE)
numeros <- as.numeric(categorias)
print(numeros)

[1] 1 3 2

In [14]:
 #crie um vetor de fatores com as categorias pequno, medio e grande, e substitua pequeno por extra pequeno
tamanhos <- factor(c('pequeno', 'medio', 'grande'), levels = c('pequeno', 'medio', 'grande'), ordered = TRUE)
levels(tamanhos)[levels(tamanhos) == 'pequeno'] <- 'extra pequeno'
print(tamanhos)

[1] extra pequeno medio         grande
Levels: extra pequeno < medio < grande

In [15]:
#criei um vetor de fatorees com 100 elementos aleatorios enttre "baixo", "medio" e "alto", calcule a frequencia de cada categoria
set.seed(123)
categorias <- c("baixo", "medio", "alto")
vetor <- sample(categorias, 100, replace =TRUE)
fatores <- factor(vetor, levels = categorias, ordered = TRUE)
frequencia <- table(fatores)
print(frequencia)

fatores
baixo medio  alto
   33    32    35

In [16]:
#crie uma lista contendo numeros de 1 a 5
lista <- list(1:5)
print(lista)

[[1]]
[1] 1 2 3 4 5

In [18]:
#crie uma lista contendo numeros de 1 a 5 e adicone 6
lista <- list(1,2,3,4,5)
lista[[6]] <- 6
print(lista)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

[[5]]
[1] 5

[[6]]
[1] 6

In [ ]:
#remova o terceiro elemento da lista
lista <- list(1,2,3,4,5)
lista <- lista[-3]
print(lista)

In [19]:
#inverta a ordem da lista de 1 a 5
lista <- list(1,2,3,4,5)
lista_invertida <- rev(lista)
print(lista_invertida)

[[1]]
[1] 5

[[2]]
[1] 4

[[3]]
[1] 3

[[4]]
[1] 2

[[5]]
[1] 1

In [21]:
#crie uma lista de lista - matriz
matriz <- list(c(1,2,3), c(4,5,6), c(7,8,9))
matrizSm <- sapply(matriz, sum)
print(matrizSm)

[1]  6 15 24

In [ ]:
# crie uma tupla com numeros de 1 a 5

tupla <- list(1,2,3,4,5)
print(tupla)

In [ ]:
# crie uma tupla com numeros de 1 a 5 em imprima o 3

tupla <- list(1,2,3,4,5)
print(tupla[3])

In [24]:
#crie uma tupla com outras treis tuplas interna, cada uma com dois elementos
tupla <- list(list(1,2), list(3,4), list(5,6))
print(tupla)

[[1]]
[[1]][[1]]
[1] 1

[[1]][[2]]
[1] 2


[[2]]
[[2]][[1]]
[1] 3

[[2]][[2]]
[1] 4


[[3]]
[[3]][[1]]
[1] 5

[[3]][[2]]
[1] 6

In [28]:
#concatene duas tuplas e imprima R
tupla1 <- list(1,2,3)
tupla2 <- list(4,5,6)
tupla3 <- c(tupla1,tupla2)
print(tupla3)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

[[5]]
[1] 5

[[6]]
[1] 6

In [29]:
#crie uma tupla com os elementos (1,2,3,4,5) e verifique o numero 3 esta na lista
tupla <- list(1,2,3,4,5)
existe <- 3 %in% lista
print(lista)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

[[5]]
[1] 5

In [33]:
#crie uma tupla com os elementos (1,2,3,4,5) e verifique o indice 4  na lista
tupla <- list(1,2,3,4,5)
indice <- which(unlist(lista)==4)
print(indice)

[1] 4

In [40]:
#crie um dicionario com as chaves "nome", "idade" e "cidade"
dicionario <- list(nome= "joao", idade= 30, cidade= "são paulo")
print(dicionario)

$nome
[1] "joao"

$idade
[1] 30

$cidade
[1] "são paulo"

In [42]:
#crie um dicionario com as chaves "nome", "idade" e "cidade" e acesse idade
dicionario <- list(nome= "joao", idade= 30, cidade= "são paulo")
print(dicionario["idade"])

idade <- dicionario$idade
print(idade)

$idade
[1] 30

[1] 30

In [44]:
#adicione um par de chave-valor "profissão": engenharia ao dicionario = {"nome": "joao", "idade": 30, "cidade": "são paulo"}

dicionario <- list(nome= "joao", idade= 30, cidade= "são paulo")
dicionario$profissao <- "engenharia"
print(dicionario)

$nome
[1] "joao"

$idade
[1] 30

$cidade
[1] "são paulo"

$profissao
[1] "engenharia"